<!DOCTYPE html>
<body>

<form action="/after" method="post">


    <label >Module:</label>
    <input type="text" id="module" name="module" placeholder="module"><br><br>
    <label >Start:</label>
    <input type="text" id="start" name="start" placeholder="start"><br><br>

    <input type="radio", name="multi" value="with_multi">
    <label >*1.5 *25.4</label><br>
    <input type="radio" name="multi" value="without_multi">
    <label>without multiplication</label><br>

    <br><br>
    <input type="submit" name="btn" value='Get Output' class='transparent_btn'>
</form>

  {% for your_list_element in jasmin %}
    <h2>{{your_list_element}}</h2>
  {% endfor %}


</body>
</html>
